.news-section {
  margin-bottom: 40px;
  &__item {
    display: block;
    width: 100%;
    aspect-ratio: 385/200;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      aspect-ratio: 240/180;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .news-section__title {
        text-decoration-color: var(--color-light);
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(35, 35, 74, 0) 0%, #23234a 100%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
    .tag {
      color: var(--color-light);
    }
  }
  &__info {
    position: absolute;
    padding: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    @include media-breakpoint-down(md) {
      padding: 16px;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    margin-bottom: 4px;
    flex-wrap: wrap;
    li {
      padding: 0;
    }
    .p3 {
      color: var(--color-light);
      font-size: 12px;
      font-weight: 400;
      line-height: 15.31px;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-light);
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
}
