<section class="news-section">
  <ul class="mb-3 row g-4">
    <li class="col-xxl-6 col-12">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="news-section__item popup-youtube"
      >
        <img src="images/content/post.jpeg" alt="news" />
        <div class="news-section__info">
          <ul class="news-section__tags">
            <li>
              <h4 class="tag">info z turnaje</h4>
            </li>
            <li>
              <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
            </li>
          </ul>
          <div class="news-section__title">
            Kanada odhalila reprezentační soupisku pro nadcházející mistrovství
            světa
          </div>
        </div>
      </a>
    </li>
    <li class="col-xxl-6 col-12">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="news-section__item popup-youtube"
      >
        <img src="images/content/article-2.jpg" alt="news" />
        <div class="news-section__info">
          <ul class="news-section__tags">
            <li>
              <h4 class="tag">info z turnaje</h4>
            </li>
            <li>
              <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
            </li>
          </ul>
          <div class="news-section__title">
            Kanada odhalila reprezentační soupisku pro nadcházející mistrovství
            světa
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
