.article-section,
.match-section {
  margin-top: 48px;
  margin-bottom: 60px;
  @include media-breakpoint-down(md) {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  &__inner {
    max-width: 818px;
    margin: 0 auto;
    .hp-table__top {
      margin-top: 80px;
      @include media-breakpoint-down(md) {
        margin-top: 60px;
      }
    }
    .hp-posts__img {
      max-width: 20%;
      flex: 0 0 20%;
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        flex: 100%;
        width: 100%;
      }
    }
    .hp-posts__info {
      max-width: 80%;
      flex: 0 0 80%;
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        flex: 100%;
        width: 100%;
      }
    }
  }
}
.full-content {
  .aside {
    display: none;
  }

  .main__content {
    max-width: 100%;
    padding-right: 0;
  }
}
.show-more .full-content .aside {
  display: block;
}

.article-section {
  .news-section {
    margin-top: 60px;
  }
  h3 {
    font-weight: 500;
  }
  h3 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.6px;
    color: var(--color-red);
    margin-bottom: 20px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
    }
  }
}
.articleImg {
  margin: 56px auto;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    margin: 40px auto;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}

.articlePage {
  .topstory-item::before {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .topstory-item__img {
    position: relative;

    &::before {
      @include media-breakpoint-down(md) {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        background: linear-gradient(
          180deg,
          rgba(35, 35, 74, 0),
          rgba(21, 43, 72, 0.96) 73.44%
        );
      }
    }
  }
  .topstory-item__info-top p,
  .topstory-item__info .h1 {
    @include media-breakpoint-down(md) {
      color: var(--color-dark) !important;
    }
  }
  .topstory-item__info {
    @include media-breakpoint-down(md) {
      position: relative;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
