<section class="article-section">
  <div class="article-section__inner">
    <div class="o-content">
      <div class="perex">
        Martin Komárek stál v čele organizačního výboru světového šampionátu v
        Liberci. Ze strany ISBHF na české dobrovolníky a organizátory byla
        slyšet jen slova chvály. Co za dalším perfektně zorganizovaným turnajem
        stojí? V čem byl turnaj povedeným a co by naopak předseda
        Českomoravského svazu hokejbalu zlepšil? Šéf pořádající federace
        promluvil i o autonomních kamerách nebo přínosu turnaje pro tuzemské
        hnutí.
      </div>
      <h3>Osm dní plné stresu. Jak jste unaven, kolik jste toho naspal?</h3>
      <p>
        Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a adrenalinom
        nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa odohrávajú nielen
        rýchle a taktické zápasy, ale tiež sa tu premieta sila tímovej
        spolupráce a individuálnej brilancie. Hoci hokej má svoje korene v
        ďalekej minulosti, stále si udržiava svoju jedinečnú príťažlivosť a
        popularitu.
      </p>
      <h3>Osm dní plné stresu. Jak jste unaven, kolik jste toho naspal?</h3>
      <p>
        Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a adrenalinom
        nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa odohrávajú nielen
        rýchle a taktické zápasy, ale tiež sa tu premieta sila tímovej
        spolupráce a individuálnej brilancie. Hoci hokej má svoje korene v
        ďalekej minulosti, stále si udržiava svoju jedinečnú príťažlivosť a
        popularitu.
      </p>

      <h3>
        <span>Hráči</span>
        Hráčska brilancia a vášeň pre hokej
      </h3>
      <p>
        Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a zručnosťami
        dokážu ohromiť nielen fanúšikov, ale aj odborníkov. Spôsob, akým hráči
        dokážu ovládať puk, vykonávať rôzne finty a strieľať presné strely, je
        fascinujúci. Každý hráč má svoj jedinečný štýl a prístup k hre, čo hokej
        činí taký rozmanitý a neustále sa vyvíjajúci.
      </p>
      <p>
        Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich vášeň,
        podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade cítia energiu
        fanúšikov a tá im dodáva silu a motiváciu vydať zo seba maximum.
        Atmosféra na štadiónoch je nákazlivá a dodáva hre špeciálnu čar.
      </p>
      <div class="articleImg">
        <img src="images/content/article-2.jpg" alt="article" />
      </div>
      <h3>
        <span>Hráči</span>
        Hráčska brilancia a vášeň pre hokej
      </h3>
      <p>
        Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a zručnosťami
        dokážu ohromiť nielen fanúšikov, ale aj odborníkov. Spôsob, akým hráči
        dokážu ovládať puk, vykonávať rôzne finty a strieľať presné strely, je
        fascinujúci. Každý hráč má svoj jedinečný štýl a prístup k hre, čo hokej
        činí taký rozmanitý a neustále sa vyvíjajúci.
      </p>
      <p>
        Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich vášeň,
        podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade cítia energiu
        fanúšikov a tá im dodáva silu a motiváciu vydať zo seba maximum.
        Atmosféra na štadiónoch je nákazlivá a dodáva hre špeciálnu čar.
      </p>
    </div>
  </div>
  <div class="news-section">
    <h6 class="h2">DALŠÍ ČLÁNKY</h6>
    <ul class="mb-3 sliderMedia sliderNews row">
      <li class="col-md-6">
        <a
          href="https://www.youtube.com/watch?v=w3msC9nxKts"
          class="news-section__item popup-youtube"
        >
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="h6 text-red">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-md-6">
        <a
          href="https://www.youtube.com/watch?v=w3msC9nxKts"
          class="news-section__item popup-youtube"
        >
          <img src="images/content/article-2.jpg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="h6 text-red">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-md-6">
        <a
          href="https://www.youtube.com/watch?v=w3msC9nxKts"
          class="news-section__item popup-youtube"
        >
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="h6 text-red">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-md-6">
        <a
          href="https://www.youtube.com/watch?v=w3msC9nxKts"
          class="news-section__item popup-youtube"
        >
          <img src="images/content/article-2.jpg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="h6 text-red">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
