<section class="statistics-section">
  <h1 class="h1 mb-24 decoreTitle">Statistiky</h1>
  <div class="menuSection">
    <label class="o-select header-section__label">
      <select class="js-select">
        <option>všechny Týmy</option>
        <option>CZE</option>
        <option>GBA</option>
        <option>SVK</option>
        <option>CZE</option>
        <option>GBA</option>
        <option>SVK</option>
        <option>CZE</option>
        <option>GBA</option>
        <option>SVK</option>
      </select>
    </label>
    <div class="tabsHeader">
      <ul class="tabsHeader__menu">
        <li>
          <a class="active" href="#">všechny </a>
        </li>
        <li>
          <a href="#">Brankáři</a>
        </li>
        <li>
          <a href="#">V poli</a>
        </li>
        <li>
          <a href="#">Obránci</a>
        </li>
        <li>
          <a href="#">Útočníci</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="statistics-section__inner">
    <div class="o-content">
      <table>
        <thead>
          <tr>
            <th class="fw-semibold">#</th>
            <th class="fw-semibold"></th>
            <th class="fw-semibold">JMÉNO</th>
            <th class="fw-semibold">POST</th>
            <th class="fw-semibold">Z</th>
            <th class="fw-semibold">G</th>
            <th class="fw-semibold">A</th>
            <th class="fw-semibold">B</th>
            <th class="fw-semibold">PPG</th>
            <th class="fw-semibold">SHG</th>
            <th class="fw-semibold">TM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <div class="avatar">
                <img src="images/content/fame-item.png" alt="" />
                <span class="state">
                  <img src="images/content/cz.png" alt=""
                /></span>
              </div>
            </td>
            <td>
              <a class="text-red" href="#"><strong>Karel Skočdopole</strong></a>
            </td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td>22</td>
            <td><strong>22</strong></td>
            <td>22</td>
            <td>22</td>
            <td>54</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
