<section class="statistics-section">
  <h1 class="h1 mb-24 decoreTitle">Partneři</h1>
  <div class="headerSection">
    <label class="o-select header-section__label">
      <select class="js-select">
        <option>všechny Týmy</option>
        <option>CZE</option>
        <option>GBA</option>
        <option>SVK</option>
        <option>CZE</option>
        <option>GBA</option>
        <option>SVK</option>
        <option>CZE</option>
        <option>GBA</option>
        <option>SVK</option>
      </select>
    </label>
    <div class="tabsHeader">
      <ul class="tabsHeader__menu">
        <li>
          <a class="active" href="#">všechny </a>
        </li>
        <li>
          <a href="#">Brankáři</a>
        </li>
        <li>
          <a href="#">V poli</a>
        </li>
        <li>
          <a href="#">Obránci</a>
        </li>
        <li>
          <a href="#">Útočníci</a>
        </li>
      </ul>
    </div>
    <div class="statistics-section__inner">
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/ava.png" alt="" />
                  <span class="state">
                    <img src="images/ico/cz.svg" alt=""
                  /></span>
                </div>
              </td>
              <td>
                <a class="text-red" href="#"
                  ><strong>Karel Skočdopole</strong></a
                >
              </td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td><strong>22</strong></td>
              <td>22</td>
              <td>22</td>
              <td>22</td>
              <td>54</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
