<aside class="aside">
  <!-- Nav tabs -->
  <div class="hp-tabs-section">
    <ul class="tabs">
      <li class="">
        <a class="tab active" data-id="cz" href="#">CZ</a>
      </li>
      <li class="">
        <a class=" tab" data-id="vcera" href="#">včera</a>
      </li>
      <li class="">
        <a class=" tab" data-id="dnes" href="#">Dnes</a>
      </li>
      <li class="">
        <a class=" tab" data-id="zitra" href="#">zítra</a>
      </li>
    </ul>
    <div class="tabs-wrapper">
    <!-- tab 1  -->
      <div id="cz" class="tab-content tab-active">
         <ul class="automatic filter-menu" role="tablist" aria-labelledby="tablist-1">
         
            <li>
              <button 
              id="tab-1" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-1" >všechny </button>
            </li>
            <li >
              <button
              id="tab-2" type="button" role="tab" aria-selected="false" tabindex="-1" aria-controls="tabpanel-2"> A</button>
            </li>
            <li>
             <button id="tab-3" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-3" tabindex="-1">B</button>
            </li>
            <li >
                <button id="tab-4" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-4" tabindex="-1">C </button>
            </li>
           
            <li >
              <button id="tab-5" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-5" tabindex="-1" >D </button>
            </li>
          </ul>
          <div class="filter-content__wrapper">
            <div class="filtr-container" id="tabpanel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
            
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/fin.svg" /><br />Finsko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/fin.svg" /><br />Finsko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13 <span>(pr)</span></div>
                    <div class="infoGame">
                 A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/de.svg" /><br />Německo
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
             
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                
                <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <a href="#" class="btn mt-3 mx-auto ">Kompletní rozpis zápasů</a>
            </div>
            <div class="filtr-container" id="tabpanel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2">
            
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/de.svg" /> <br />Německo
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
             
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                
                
               </div>
               <a href="#" class="btn mt-3 mx-auto ">Kompletní rozpis zápasů</a>
            </div>
            <div class="filtr-container" id="tabpanel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3">
              <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                 <ul class="buttons">
                   <li>
                    <a
                    href="#"
                    target="_blank"
                    class="stream"
                    >stream</a
                  >
                   </li>
                <li>
                  <a
                  href="#"
                  target="_blank"
                  class="onlajny"
                  >onlajny.com</a
                >
                </li>
                  <li>
                    <a href="#" class="report">Reportáž zápasu</a>
                  </li>
                 </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
             
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                
                
               </div>
               <a href="#" class="btn mt-3 mx-auto ">Kompletní rozpis zápasů</a>
            </div>
            <div class="filtr-container" id="tabpanel-4" role="tabpanel" tabindex="0" aria-labelledby="tab-4">
            
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
             
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                
                
               </div>
               <a href="#" class="btn mt-3 mx-auto ">Kompletní rozpis zápasů</a>
            </div>
            <div class="filtr-container" id="tabpanel-5" role="tabpanel" tabindex="0" aria-labelledby="tab-5">
              <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                 <ul class="buttons">
                   <li>
                    <a
                    href="#"
                    target="_blank"
                    class="stream"
                    >stream</a
                  >
                   </li>
                <li>
                  <a
                  href="#"
                  target="_blank"
                  class="onlajny"
                  >onlajny.com</a
                >
                </li>
                  <li>
                    <a href="#" class="report">Reportáž zápasu</a>
                  </li>
                 </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                
               <li>
                 <a
                 href="#"
                 target="_blank"
                 class="onlajny"
                 >onlajny.com</a
               >
               </li>
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
               
                 <ul class="buttons">
                  <li>
                   <a
                   href="#"
                   target="_blank"
                   class="stream"
                   >stream</a
                 >
                  </li>
             
                 <li>
                   <a href="#" class="report">Reportáž zápasu</a>
                 </li>
                </ul>
               </div>
               <div  class="game-box ">
                <div class="game-box__top">
                  <div class="team1">
                    <div class="name">
                      <img src="images/ico/1.svg" /><br />Česko
                    </div>
                  </div>
                  <div class="scoreBox">
                    <div class="score">0:13</div>
                    <div class="infoGame">
                    A
                     <br>
                     LIBEREC
                    </div>
                  </div>
                  <div class="team2">
                    <div class="name">
                      <img src="images/ico/4.svg" /> <br />Slovensko
                    </div>
                  </div>
                </div>
                
                
               </div>
               <a href="#" class="btn mt-3 mx-auto ">Kompletní rozpis zápasů</a>
            </div>
          </div>
    </div>
   

  </div>
</aside>
