<section class="match-section">
  <!-- <div class="topstory-item mb-0">
    <div class="topstory-item__img">
      <img src="images/content/post.jpeg" alt="" />
    </div>
    <div class="topstory-item__info">
      <div class="topstory-item__info-top">
        <div class="tag">info z turnaje</div>
        <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
      </div>
      <h1 class="h1">
        Velký rozhovor s Martinem Komárkem: O povedené organizaci i pozitivech
        pro český hokejbal
      </h1>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-11 mx-auto my-48">
      <div class="perex">
        Martin Komárek stál v čele organizačního výboru světového šampionátu v
        Liberci. Ze strany ISBHF na české dobrovolníky a organizátory byla
        slyšet jen slova chvály. Co za dalším perfektně zorganizovaným turnajem
        stojí? V čem byl turnaj povedeným a co by naopak předseda
        Českomoravského svazu hokejbalu zlepšil? Šéf pořádající federace
        promluvil i o autonomních kamerách nebo přínosu turnaje pro tuzemské
        hnutí.
      </div>
    </div>
  </div> -->
  <div class="matchBoard">
    <ul class="matchBoard__top">
      <li>Svijanska arena</li>
      <li>15.04.2025, 18:00</li>
    </ul>
    <div class="matchBoard__status">Živě - 1. třetina</div>
    <div class="matchBoard__inner">
      <div class="matchBoard__team">
        <h2 class="h1">Česko</h2>
        <div class="matchBoard__flag">
          <img src="images/content/cz.png" alt="flag" />
        </div>
      </div>
      <div class="matchBoard__result">3:2 <span>pp</span></div>
      <div class="matchBoard__team">
        <div class="matchBoard__flag">
          <img src="images/ico/sk.svg" alt="flag" />
        </div>
        <h2 class="h1">Slovensko</h2>
      </div>
    </div>
    <div class="matchBoard__bottom">(1:0, 0:1, 0:0 - 0:2)</div>

    <div class="matchBoard__line">
      <div class="game__timeline game__timeline--home">
        <div class="game__timeline__logo">
          <img src="images/content/cz.png" />
        </div>

        <div class="row g-0">
          <div class="col-3">
            <div class="game__timeline__period game__timeline__period--home">
              <div class="period">1</div>
              <div
                style="left: 35%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 85%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-whistle"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 95%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 65%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="game__timeline__period game__timeline__period--home">
              <div class="period">2</div>

              <div
                style="left: 63%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Nižnikov"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 70%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Nižnikov"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 83%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-whistle"
                  title="Nižnikov"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 95%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Hruška"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="game__timeline__period game__timeline__period--home">
              <div class="period">1</div>
              <div
                style="left: 35%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 85%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-whistle"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 95%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 65%"
                class="game__timeline__goal game__timeline__goal--home"
              >
                <span
                  class="icon-ball"
                  title="Jenáček"
                  data-placement="top"
                  data-toggle="tooltip"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="game__timeline__period game__timeline__period--home">
              <div class="period">PR1</div>

              <div class="period period--finish">K</div>
            </div>
          </div>
        </div>
      </div>
      <!--/.game__timeline-->

      <div class="game__timeline game__timeline--away">
        <div class="game__timeline__logo game__timeline__logo--away">
          <img src="images/ico/sk.svg" />
        </div>

        <div class="row gx-10">
          <div class="col-4">
            <div class="game__timeline__period game__timeline__period--away">
              <div
                style="left: 20%"
                class="game__timeline__goal game__timeline__goal--away"
              >
                <span
                  class="icon-whistle"
                  title="Hruška"
                  data-placement="bottom"
                  data-toggle="tooltip"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="game__timeline__period game__timeline__period--away">
              <div
                style="left: 45%"
                class="game__timeline__goal game__timeline__goal--away"
              >
                <span
                  class="icon-ball"
                  title="Hruška"
                  data-placement="bottom"
                  data-toggle="tooltip"
                ></span>
              </div>
              <div
                style="left: 65%"
                class="game__timeline__goal game__timeline__goal--away"
              >
                <span
                  class="icon-whistle"
                  title="Hruška"
                  data-placement="bottom"
                  data-toggle="tooltip"
                ></span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div
              class="game__timeline__period game__timeline__period--away"
            ></div>
          </div>
        </div>
      </div>
      <!--/.game__timeline-->
    </div>
  </div>
</section>
