.matchBoard {
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  padding: 24px 20px 8px;
  background: var(--blue);
  border-radius: 12px;
  align-items: center;
  @include media-breakpoint-down(md) {
    padding-bottom: 24px;
  }
  &__status {
    background-color: var(--color-dark-red);
    padding: 4px 8px;
    color: var(--color-light);
    font-weight: 500;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  &__top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;
    li {
      font-size: 12px;
      font-weight: 400;
      line-height: 15.31px;
    }
    li + li {
      padding-left: 32px;
      margin-left: 24px;
      position: relative;
      @include media-breakpoint-down(lg) {
        padding-left: 28px;
        margin-left: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: var(--color-dark-red);
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 24px;
    @include media-breakpoint-down(lg) {
      gap: 24px;
    }
  }
  &__bottom {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
  }
  &__flag {
    height: 44px;
    width: 64px;
    border: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__result {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    color: var(--color-dark-red);
    miw-width: 120px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    span {
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
    }
  }
  &__team {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    max-width: 40%;
    &:first-child {
      justify-content: flex-end;
    }
    gap: 12px;
    .h1 {
      color: var(--color-light);
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
.match-section {
  margin-top: 0 !important;
  margin-bottom: 24px !important;
}
.matchBoard__line {
  width: 100%;

  .period {
    position: absolute;
    left: 0;
    top: 4rem;
    text-align: center;
    font-weight: 800;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    z-index: 89;
    background: var(--blue);
  }
  .period--finish {
    right: 0;
    left: auto;
  }
  .match-detail__list {
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 12px;
    background: linear-gradient(214.45deg, #ff1522 0%, #ff0046 100%);
  }
  .game__timeline {
    display: none;
    position: relative;
  }
  @media (min-width: 768px) {
    .game__timeline {
      display: block;
    }
  }
  .game__timeline__logo {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 60px;
    border-bottom: 1px solid #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    height: 100%;
  }
  .game__timeline__logo img {
    width: 100%;
    max-width: 32px;
    height: 18px;
    width: 100%;
    object-fit: contain;
  }
  .game__timeline__logo--away {
    border-bottom: 0;
  }
  .game__timeline__period {
    height: 40px;
    position: relative;
    border-bottom: 1px solid #fff;
    height: 80px;
  }
  .game__timeline__period--away {
    border-bottom: 0;
  }
  .game__timeline__goal {
    margin-left: -10px;
    bottom: -1px;
    position: absolute;
    text-align: center;
  }

  .game__timeline__goal span {
    display: block;
    margin-top: 4px;
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 19px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .game__timeline__goal--away {
    bottom: auto;
    top: -1px;
  }
  .game__timeline__goal--away span {
    margin-top: 0;
    margin-bottom: 4px;
    padding-bottom: 0;
    margin-top: 4px;
  }
}

.icon-ball {
  border-radius: 100%;
  background-color: var(--color-red);
  height: 16px !important;
  width: 16px !important;
  margin: 6px 0 !important;
}
.icon-whistle {
  background-image: url("../images/ico/whistle.svg");
}
