.main {
  width: 100%;
  position: relative;

  background: var(--light-blue);

  overflow: hidden;

  &__row {
    display: flex;
    background-color: #f3f3f3;
    padding: 24px 0px 24px 24px;
    border-radius: 12px 0 0 0;

    @include media-breakpoint-down(xl) {
      padding: 20px 0;
      border-radius: 0;
    }
  }
  &__row.full-width {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    .aside {
      display: none;
    }
    .main__content {
      max-width: 100%;
      padding-right: 0;
      flex: 100%;
    }
  }
  &__content {
    padding-right: 16px;
    max-width: calc(100% - 340px);
    @include media-breakpoint-down(xl) {
      max-width: 100%;
      padding-right: 0;
      flex: 100%;
    }
  }
  aside {
    max-width: 21rem;
    width: 21rem;
    @include media-breakpoint-down(xl) {
      flex: 100%;
      width: 22rem;
    }
  }
}
.wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  position: relative;
  align-items: stretch;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 3400px;
    background-color: var(--light-blue);
    height: 76px;
    @include media-breakpoint-down(xl) {
      height: 60px;
    }
  }

  &::before {
    height: 100%;
    width: 100%;
    display: block;
    width: 100%;
    right: auto;
    left: -100%;
    @include media-breakpoint-down(xl) {
      display: block;
    }
  }
  &::after {
    @include media-breakpoint-down(xl) {
      display: block;
      right: -100%;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 16.1rem);

    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
  }
  @include media-breakpoint-down(xl) {
    display: flex;
    flex-direction: column;
  }
}
