.redMode {
  .main,
  .wrapper::before,
  .wrapper::after,
  .topHeader,
  .header__inner {
    background: var(--color-red);
  }
  .header__sex {
    color: var(--color-dark-blue);
  }
  .dropdown-toggle::before {
    background-image: url("../images/ico/plus-blue.svg");
  }
  .topHeader .button-right a,
  .topHeader .button-left a {
    color: var(--color-light);
  }
}
