.match-detail {
  &__statistics {
    padding: 24px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    height: 100%;
    span {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      margin-bottom: 16px;
    }
    p {
      display: block;
      font-size: 18px;
      font-weight: 500;
      line-height: 21.6px;
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    margin-bottom: 24px;
    a {
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      color: var(--blue);
      height: 28px;
      padding-left: 8px;
      padding-right: 8px;
      background: rgba(21, 43, 72, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      text-decoration: none;
      border: 1px solid transparent;
      transition: all 0.3s;
      &:hover:not(.active) {
        border: 1px solid var(--blue);
      }
    }
    .active {
      background: var(--color-dark-red);
      color: var(--color-light);
      border: 1px solid var(--color-dark-red);
    }
  }
  .tab-content {
    display: block;
  }
}

#statsplayer {
  .tabsHeader {
    margin-top: -16px;
    margin-bottom: 20px;
  }
  .tabsHeader .active {
    text-transform: capitalize;
  }
}
#video {
  .videos-section__item {
    aspect-ratio: 778/404;
  }
  .videos-section__item::before {
    height: 5rem;
    width: 5rem;
    @include media-breakpoint-down(lg) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.match-detail__photo {
  display: block;
  aspect-ratio: 273/235;
  border-radius: 12px;
  overflow: hidden;
  &:hover img {
    transform: scale(1.1);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
}

/// statsGame
.statsGame {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  gap: 4px;
  margin-bottom: 48px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }
  &__infoline {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .statsGame__infoline:first-child .statsGame__value {
    background: var(--blue);
    margin-left: auto;
  }
  .statsGame__infoline:last-child .statsGame__value {
    background: var(--color-dark-red);
  }
  .statsGame__infoline:first-child .statsGame__number {
    color: var(--blue);
    text-align: right;
    padding-right: 64px;
  }
  .statsGame__infoline:last-child .statsGame__number {
    color: var(--color-dark-red);
    padding-left: 64px;
  }
  &__number {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 4px;
  }
  &__line-title {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__line {
    background: rgba(35, 35, 74, 0.1);
    height: 8px;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
  }
  &__value {
    height: 100%;
    display: block;
  }
}
