<section class="partners-section">
  <h1 class="h1 mb-32 decoreTitle">Partneři</h1>
  <h2 class="h2 mb-12">Garanti</h2>

  <div class="row mb-32 g-3">
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-3.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-4.png" class="w-100" alt="" />
      </a>
    </div>
  </div>
  <h2 class="h2 mb-12">Generální partneři</h2>

  <div class="row mb-32 g-3">
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
  </div>
  <h2 class="h2 mb-12">Hlavní partneři</h2>

  <div class="row mb-32 g-3">
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-3.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-4.png" class="w-100" alt="" />
      </a>
    </div>
  </div>
  <h2 class="h2 mb-12">Partneři</h2>
  <div class="row mb-32 g-3">
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
  </div>

  <h2 class="h2 mb-12">Mediální partneři</h2>
  <div class="row mb-32 g-3">
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt="" />
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <a class="partners-section__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt="" />
      </a>
    </div>
  </div>
</section>
