<section class="table-section section">
  <h1 class="h1 mb-4 decoreTitle">Tabulka A</h1>

  <div class="o-content">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>
            <a class="team" href="#"><strong>Země</strong></a>
          </th>
          <th>
            <a href="#"> </a>
          </th>
          <th>
            <a href="#">Z</a>
          </th>
          <th>
            <a>V</a>
          </th>
          <th>
            <a href="#">VP</a>
          </th>
          <th>
            <a href="#">PP</a>
          </th>
          <th>
            <a href="#">P</a>
          </th>
          <th>
            <a href="#"> Skóre</a>
          </th>
          <th>
            <a href="#"><strong>B</strong></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
