<section class="table-section section">
  <h1 class="h1 mb-24 decoreTitle">Tabulka A</h1>
  <div class="menuSection">
    <label class="o-select header-section__label">
      <select class="js-select">
        <option>všechny Skupiny</option>
        <option>Skupina A</option>
        <option>Skupina B</option>
        <option>Skupina C</option>
      </select>
    </label>
    <label class="o-select header-section__label">
      <select class="js-select">
        <option>Vyřazovací část</option>
        <option>Čtvrtfinále</option>
        <option>Semifinále</option>
        <option>Finále</option>
      </select>
    </label>
    <div class="tabsHeader">
      <ul class="tabsHeader__menu">
        <li>
          <a href="#" class="active">Skupina A </a>
        </li>
        <li>
          <a href="#">Skupina B </a>
        </li>
        <li>
          <a href="#">Play-off</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="o-content">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>
            <a class="team" href="#"><strong>Země</strong></a>
          </th>
          <th>
            <a href="#"> </a>
          </th>
          <th>
            <a href="#">Z</a>
          </th>
          <th>
            <a>V</a>
          </th>
          <th>
            <a href="#">VP</a>
          </th>
          <th>
            <a href="#">PP</a>
          </th>
          <th>
            <a href="#">P</a>
          </th>
          <th>
            <a href="#"> Skóre</a>
          </th>
          <th>
            <a href="#"><strong>B</strong></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td><strong>1</strong></td>
          <td><img src="images/content/cz.png" alt="" /></td>
          <td>
            <a class="text-red" href="#"><strong>Česko</strong></a>
          </td>
          <td>2</td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>

          <td>3,07</td>
          <td><strong>86,36 </strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
