.table-section {
  @include media-breakpoint-down(xl) {
    padding-top: 24px;
  }
  .tabsHeader {
    margin-bottom: 24px;
    a {
      text-transform: capitalize;
    }
    .active {
    }
  }
  .o-content table {
    white-space: nowrap;
    th,
    td {
      text-align: center;
      width: 60px;
    }
    td:nth-child(1) {
      border-radius: 4px 0 0 4px;
    }
    td:last-child {
      border-radius: 0 4px 4px 0;
    }
    td:nth-child(1),
    th:nth-child(1),
    td:nth-child(2),
    th:nth-child(2) {
      width: 40px;
    }
    td:nth-child(3),
    th:nth-child(3) {
      text-align: left;
      width: auto;
      padding-left: 0;
    }
    td {
      align-items: center;
      vertical-align: middle;
      img {
        width: 20px;
        height: auto;
        object-fit: contain;
        display: block;
        margin: auto;
      }
    }
  }
}
