<section class="archive-section">
  <h1 class="h1 mb-24 decoreTitle">Články</h1>
  <div class="menuSection">
    <div class="tabsHeader">
      <ul class="tabsHeader__menu">
        <li>
          <a class="active" href="#">všechny </a>
        </li>
        <li>
          <a href="#">Doprovodný program</a>
        </li>
        <li>
          <a href="#">Info z turnaje</a>
        </li>
        <li>
          <a href="#">Reportáž</a>
        </li>
        <li>
          <a href="#">Rozhovory</a>
        </li>
      </ul>
    </div>
    <div class="searchMenu">
      <form action="">
        <div class="row">
          <div class="col-9">
            <input
              type="text"
              placeholder="Vyhledejte v článcích podle názvu, datumu,..."
            />
          </div>
          <div class="col-3">
            <button>Hledat</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="archive-section__inner">
    <ul class="row g-3 archive-section-js">
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
      <li class="col-xl-4 col-md-6">
        <a href="#" class="news-section__item">
          <img src="images/content/post.jpeg" alt="news" />
          <div class="news-section__info">
            <ul class="news-section__tags">
              <li>
                <h4 class="tag">info z turnaje</h4>
              </li>
              <li>
                <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
              </li>
            </ul>
            <div class="news-section__title">
              Kanada odhalila reprezentační soupisku pro nadcházející
              mistrovství světa
            </div>
          </div>
        </a>
      </li>
    </ul>
    <button class="moreButton">Načíst starší články</button>
  </div>
</section>
