<header class="header">
  <div class="header__inner">
    <nav class="header__nav">
      <a href="#" class="header__logo">
        <img src="images/ico/logo.svg" loading="lazy" />
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a href="#" class="header__sex">Ženy</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="turnaj"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Info o turnaji
            </a>
            <ul class="dropdown-menu" aria-labelledby="turnaj">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="Vstupenky"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Vstupenky
            </a>
            <ul class="dropdown-menu" aria-labelledby="Vstupenky">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="tym"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Týmy
            </a>
            <ul class="dropdown-menu" aria-labelledby="tym">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="statistiky"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              statistiky
            </a>
            <ul class="dropdown-menu" aria-labelledby="statistiky">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="program"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Doprovodný program
            </a>
            <ul class="dropdown-menu" aria-labelledby="program">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="merchandise"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Merchandise
            </a>
            <ul class="dropdown-menu" aria-labelledby="merchandise">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="areny"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Arény
            </a>
            <ul class="dropdown-menu" aria-labelledby="areny">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="hokejbal"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Hraj hokejbal
            </a>
            <ul class="dropdown-menu" aria-labelledby="hokejbal">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Partneři </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="media"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Média
            </a>
            <ul class="dropdown-menu" aria-labelledby="media">
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
              <li><a class="dropdown-item" href="#"> Info o turnaji</a></li>
            </ul>
          </li>
        </ul>
        <div class="header__social">
          <h5 class="h5">Sledujte nás:</h5>
          <ul class="header__social-list">
            <li>
              {% include "@images/fb.svg" %}
              <a href="#" target="_blanks">Facebook</a>
            </li>
            <li>
              {% include "@images/insta.svg" %}
              <a href="" target="_blank" class="social-box-in">Instagram</a>
            </li>

            <li>
              {% include "@images/youtube.svg" %}
              <a href="#" target="_blank">YouTube</a>
            </li>
            <li>
              {% include "@images/tiktok.svg" %}
              <a href="#" target="_blank">Tiktok</a>
            </li>
          </ul>
        </div>
        <div class="lang-box">
          <a href="#"><img src="images/ico/gbe.svg" /> ENGLISH</a>
        </div>
        <a class="header__ban" href="#">
          <img src="https://via.placeholder.com/208x208" alt="" />
        </a>

        <div class="navDecore">
          <img src="images/ico/nav-bottom.svg" alt="decore-nav" />
        </div>
      </div>
    </nav>
  </div>
</header>
