<div class="topHeader">
  <div class="button-left">
    <a href="#" id="show-menu"><img src="images/ico/menu.svg" /> Menu</a>
    <a href="#" id="hide-menu"><img src="images/ico/menu.svg" /> Zavřít</a>
  </div>
  <a href="#" class="logo" id="logo"><img src="images/ico/logo.svg" /></a>
  <div class="button-right">
    <a href="#" id="show-more">Více <img src="images/ico/plus-menu.svg" /></a>
    <a href="#" id="hide-more">Zavřít <img src="images/ico/plus-menu.svg" /></a>
  </div>
</div>
