// mobile
.topHeader {
  background-color: var(--light-blue);
  position: relative;
  width: 100%;
  height: 76px;
  z-index: 99;
  @include media-breakpoint-down(xl) {
    padding-right: 0;
    height: auto;
  }

  &__left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__logo {
    height: 40px;
    width: 128px;
    display: block;
    position: relative;
    z-index: 99;
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
    justify-content: space-between;
    @include media-breakpoint-down(xl) {
      justify-content: center;
      height: 60px;
    }
    &::before {
      content: "";
      position: absolute;
      left: -4px;
      bottom: -0px;
      height: 64px;
      width: 168px;
      background-image: url("../images/ico/topHeader-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }
  &__sex {
    display: flex;
    align-items: center;
    margin-left: 64px;
    height: 100%;
    @include media-breakpoint-down(xl) {
      display: none;
    }
    .active {
      background-color: var(--blue);
      border-bottom: 5px solid var(--color-red);
    }
    li {
      display: block;
      height: 100%;
    }
  }
  &__sex a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: var(--color-light);
    padding: 0 32px;
    height: 100%;
    text-decoration-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover:not(.active) {
      text-decoration-color: inherit;
    }
  }
  &__news {
    position: relative;
    display: block;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.86px;
    color: var(--color-light);
    text-transform: uppercase;
    text-decoration-color: transparent;

    letter-spacing: 0.45px;
    @include media-breakpoint-down(xl) {
      display: none;
    }
    &::before {
      left: 2px;
    }
    &::after {
      right: 4px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: var(--blue);
      top: 2px;
    }
    &:hover {
      text-decoration-color: inherit;
    }
  }
}

.topHeader .button-left {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  inset-block: auto;
}
.topHeader .button-left a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 108%;
}
.topHeader .button-left img {
  height: 20px;
  margin-right: 5px;
  border: none;
  width: 20px;
  object-fit: contain;
}
.topHeader .button-right {
  position: absolute;
  top: 0;
  right: 0px;
  inset-block: auto;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
}
.topHeader .button-right a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 108%;
}
.topHeader .button-right img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  transition: all 0.3s;
}
.topHeader #hide-menu,
.topHeader #hide-more {
  display: none;
}
.show-menu header {
  position: absolute;
  display: block;
  z-index: 10000;
}
.button-left,
.button-right {
  display: none;
  z-index: 99;
  @include media-breakpoint-down(xl) {
    display: block;
  }
  img {
    display: inline;
    vertical-align: middle;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.topHeader__logo--mob {
  display: none;
  width: 68px;
  height: 88px;
  position: relative;
  z-index: 9999;
  top: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  svg,
  img {
    width: 100%;
    height: 100%;
  }
  @include media-breakpoint-down(xl) {
    display: block;
  }
}
.flex-display {
  display: flex !important;
}
