<div class="topHeader">
  <div class="topHeader__inner">
    <div class="button-left">
      <a href="#" id="show-menu"><img src="images/ico/menu.svg" /> Menu</a>
      <a href="#" id="hide-menu"><img src="images/ico/menu.svg" /> Zavřít</a>
    </div>
    <a href="#" class="topHeader__logo--mob" id="logo"
      ><img src="images/ico/logo.svg"
    /></a>
    <div class="button-right">
      <a href="#" id="show-more">Více <img src="images/ico/plus-menu.svg" /></a>
      <a href="#" id="hide-more"
        >Zavřít <img src="images/ico/plus-menu.svg"
      /></a>
    </div>

    <div class="topHeader__left">
      <a href="#" class="topHeader__logo">
        <img src="images/ico/topHeader-logo.svg" alt="logo" />
      </a>
      <ul class="topHeader__sex">
        <li>
          <a class="active" href="#">Muži</a>
        </li>
        <li>
          <a href="#">Ženy</a>
        </li>
      </ul>
    </div>
    <a href="#" class="topHeader__news">
      Vstupenky v prodeji od 20. března na pokladnách arény abc
    </a>
  </div>
</div>
