<section class="matches-section">
  <h1 class="h1 mb-24 decoreTitle">Rozpis a výsledky</h1>
  <div class="menuSection">
    <div class="tabsHeader">
      <ul class="tabsHeader__menu">
        <li>
          <a class="active" href="#">všechny </a>
        </li>
        <li>
          <a href="#"> A </a>
        </li>
        <li>
          <a href="#"> B </a>
        </li>
        <li>
          <a href="#">C</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="matches-section__wrapper">
    <h2 class="h3">Středa 28. 6. 2025</h2>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">18:00</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="matches-section__wrapper">
    <h2 class="h3">Čtvrtek 25. 5. 2025</h2>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">1:0</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/interface.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">0:0</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="matches-section__wrapper">
    <h2 class="h3">Ctvrtek 13.4.2025</h2>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">1:2</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/interface.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">1:3</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/gb.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">1:0</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="matches-section__wrapper">
    <h2 class="h3">Útery 7.2.2025</h2>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">11:0</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/interface.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/canada.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> - <span>Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">1:3</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="match d-flex align-items-center row m-0 p-3">
      <a href="#" class="match__link"></a>
      <div
        class="match__logos col-12 col-xl-3 col-xxl-2 mb-4 mb-xl-0 justify-content-center"
      >
        <div class="match__logo">
          <img src="images/ico/cz.svg" loading="lazy" />
        </div>
        <div class="match__logo">
          <img src="images/ico/gb.svg" loading="lazy" />
        </div>
      </div>
      <div class="match__team col-12 col-xl mb-4 mb-xl-0">
        <ul>
          <li>1.kolo</li>
          <li>Zimní stadion Česká Třebová</li>
        </ul>
        <h3 class="h4">
          <span>Česká republika</span> -
          <span>Slovensko Slovensko Slovensko</span>
        </h3>
      </div>
      <div class="col-xl-auto col-12 match__result text-center">2:6</div>
      <div class="col-xl-auto col-12 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/messages.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
