<section class="videos-section">
  <div class="sliderHeader">
    <h2 class="h2 mb-3">Videotéka</h2>
  </div>
  <ul class="mb-3 row g-3 sliderMedia sliderNews">
    <li class="col-sm-6">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="videos-section__item popup-youtube"
      >
        <img src="images/content/post.jpeg" alt="video" />
      </a>
    </li>
    <li class="col-sm-6">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="videos-section__item popup-youtube"
      >
        <img src="images/content/article-2.jpg" alt="video" />
      </a>
    </li>
    <li class="col-sm-6">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="videos-section__item popup-youtube"
      >
        <img src="images/content/post.jpeg" alt="video" />
      </a>
    </li>
    <li class="col-sm-6">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="videos-section__item popup-youtube"
      >
        <img src="images/content/article-2.jpg" alt="video" />
      </a>
    </li>
    <li class="col-sm-6">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="videos-section__item popup-youtube"
      >
        <img src="images/content/post.jpeg" alt="video" />
      </a>
    </li>
    <li class="col-sm-6">
      <a
        href="https://www.youtube.com/watch?v=w3msC9nxKts"
        class="videos-section__item popup-youtube"
      >
        <img src="images/content/article-2.jpg" alt="video" />
      </a>
    </li>
  </ul>
</section>
