:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-dark-blue: #152b48;
  --color-border: rgba(21, 43, 72, 0.1);

  --color-grey: #949494;

  --light-blue: #26377e;
  --blue: #23234a;
  --color-red: #df3e36;
  --color-dark-red: #d72435;

  --color-blue-600: #003a5f;
  --color-blue-500: #005a8e;
}
