<div class="news">
  <div class="row news__row g-4">
    <div class="col-xl-3 col-sm-2">
      <div class="news__info text-left">
        <h6 class="h6 text-red">Rozhovor</h6>
        <p class="p3">20.1.2023</p>
      </div>
    </div>
    <div class="col-xl-9 col-sm-10">
      <a href="#" class="p2">
        Přípravné duely před začátkem hlavního turnaje sezóny ovládly
        favorizované týmy
      </a>
    </div>
  </div>
</div>
