.news {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 16px;
  margin-bottom: 16px;
  &:hover {
    .p2 {
      text-decoration-color: inherit;
    }
  }
  &__row {
    align-items: baseline;
    .p2 {
      display: block;
      font-size: 14px;
      line-height: 18px;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
    }
  }
  &__info {
    padding-left: 6px;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
    .h6 {
      font-size: 14px;
      font-weight: 600;
      line-height: 17.86px;
    }
    .p3 {
      color: rgba(148, 148, 148, 1);
      margin-top: 2px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }
  }
}
