<div class="statsBox">
  <div class="statsBox__players">
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">15 Goals Scored</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            David Tor
          </a>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player2.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">10 Goals Scored</div>
          <a href="#">
            <img
              srcset="images/content/cz.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            David Tor
          </a>
        </div>
      </div>
    </div>
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">22 Goals Against</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </a>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">3 Goals Against</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </a>
        </div>
      </div>
    </div>
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">7 % Power Play</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </a>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">17 % Power Play</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </a>
        </div>
      </div>
    </div>
    <div class="statsBox__players-row">
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">88,35 % Penalty Kill</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </a>
        </div>
      </div>
      <div class="statsBox__player">
        <div class="statsBox__player-img">
          <img
            srcset="images/content/player.png 56w"
            width="56"
            height="56"
            loading="lazy"
            alt="player"
          />
        </div>
        <div class="">
          <div class="h3">88,35 % Penalty Kill</div>
          <a href="#">
            <img
              srcset="images/content/usa.png 16w"
              width="16"
              height="16"
              loading="lazy"
              alt="state"
            />
            Declan Moffatt
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
