<div class="statsBox">
  <div class="statsBox__players">
    <div class="row g-0">
      <div class="col-xxl-6 col-xl-12 col-md-6">
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/player.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
            />
          </div>
          <div class="">
            <div class="h3">15 Goals</div>
            <a href="#">
              <img
                srcset="images/content/usa.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="state"
              />
              David Tor
            </a>
          </div>
        </div>
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/player.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
            />
          </div>
          <div class="">
            <div class="h3">22 Assists</div>
            <a href="#">
              <img
                srcset="images/content/usa.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="state"
              />
              Declan Moffatt
            </a>
          </div>
        </div>
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/player.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
            />
          </div>
          <div class="">
            <div class="h3">7 Points</div>
            <a href="#">
              <img
                srcset="images/content/usa.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="state"
              />
              Declan Moffatt
            </a>
          </div>
        </div>
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/player.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
            />
          </div>
          <div class="">
            <div class="h3">88 Saves Percentage</div>
            <a href="#">
              <img
                srcset="images/content/usa.png 16w"
                width="16"
                height="16"
                loading="lazy"
                alt="state"
              />
              Declan Moffatt
            </a>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-12 col-md-6">
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/cz.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
              class="rounded-circle"
            />
          </div>
          <div class="">
            <div class="h3">10 Goals Scored</div>
            <a href="#"> Czechia </a>
          </div>
        </div>
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/cz.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
              class="rounded-circle"
            />
          </div>
          <div class="">
            <div class="h3">3 Goals Against</div>
            <a href="#"> Czechia </a>
          </div>
        </div>
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/cz.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
              class="rounded-circle"
            />
          </div>
          <div class="">
            <div class="h3">17 % Power Play</div>
            <a href="#"> Czechia </a>
          </div>
        </div>
        <div class="statsBox__player">
          <div class="statsBox__player-img">
            <img
              srcset="images/content/cz.png 56w"
              width="56"
              height="56"
              loading="lazy"
              alt="player"
              class="rounded-circle"
            />
          </div>
          <div class="">
            <div class="h3">88,35 % Penalty Kill</div>
            <a href="#"> Czechia </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
