<div class="statsBox">
  <div
    class="d-flex flex-wrap gap-3 justify-content-between align-items-center"
  >
    <div class="statsBox__title h2">
      <img
        srcset="images/ico/pohar.svg 22w"
        sizes="
             (min-width: 22px) 22w
           "
        width="22"
        height="18"
        alt=""
      />
      <a href="#" class="d-flex align-items-center gap-2 underline">
        Group standings
        <img
          srcset="images/ico/arrow-up-b.svg 13w"
          sizes="
               (min-width: 13px) 13w
             "
          width="13"
          height="13"
          alt=""
        />
      </a>
    </div>
    <nav>
      <div class="nav nav-tabs" role="tablist">
        <button
          class="nav-link active"
          id="nav-a1-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-a1"
          type="button"
          role="tab"
          aria-controls="nav-a1"
          aria-selected="true"
        >
          A1
        </button>
        <button
          class="nav-link"
          id="nav-a2-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-a2"
          type="button"
          role="tab"
          aria-controls="nav-a2"
          aria-selected="false"
        >
          a2
        </button>
        <button
          class="nav-link"
          id="nav-b-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-b"
          type="button"
          role="tab"
          aria-controls="nav-b"
          aria-selected="false"
        >
          b
        </button>
      </div>
    </nav>
  </div>

  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="nav-a1"
      role="tabpanel"
      aria-labelledby="nav-a1-tab"
    >
      <div class="statsBox__table">
        <div class="o-content">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
                <th class="text-center">Games</th>
                <th class="text-center">Score</th>
                <th class="text-center">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/cz.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Czechia
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>2.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/sk.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Slovakia
                </td>
                <td class="text-center">2</td>
                <td class="text-center">8:3</td>
                <td class="text-center">4</td>
              </tr>
              <tr>
                <td>3.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/canada.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Canada
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>4.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/usa.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  USA
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>5.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/greece.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Greece
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-a2"
      role="tabpanel"
      aria-labelledby="nav-a2-tab"
    >
      <div class="statsBox__table">
        <div class="o-content">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
                <th class="text-center">Games</th>
                <th class="text-center">Score</th>
                <th class="text-center">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/greece.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Greece
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>

              <tr>
                <td>2.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/sk.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Slovakia
                </td>
                <td class="text-center">2</td>
                <td class="text-center">8:3</td>
                <td class="text-center">4</td>
              </tr>
              <tr>
                <td>3.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/canada.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Canada
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>4.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/usa.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  USA
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>5.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/cz.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Czechia
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-b"
      role="tabpanel"
      aria-labelledby="nav-b-tab"
    >
      <div class="statsBox__table">
        <div class="o-content">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
                <th class="text-center">Games</th>
                <th class="text-center">Score</th>
                <th class="text-center">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/usa.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  USA
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>2.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/cz.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Czechia
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
              <tr>
                <td>3.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/sk.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Slovakia
                </td>
                <td class="text-center">2</td>
                <td class="text-center">8:3</td>
                <td class="text-center">4</td>
              </tr>
              <tr>
                <td>4.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/canada.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Canada
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>

              <tr>
                <td>5.</td>
                <td class="fw-semibold">
                  <img
                    srcset="images/content/greece.png 40w"
                    width="40"
                    height="40"
                    loading="lazy"
                    alt="team"
                  />
                  Greece
                </td>
                <td class="text-center">3</td>
                <td class="text-center">10:5</td>
                <td class="text-center">9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
