.statsBox {
  background-color: var(--color-light);
  padding: 24px;
  border-radius: 12px;
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      object-fit: contain;
    }
  }
  .nav-tabs {
    gap: 12px;
    margin: 0;
  }
  .nav-link {
    background-color: transparent;
    color: var(--color-dark);
    border: 1px solid #cecece;
    text-transform: uppercase;
    &:hover {
      border: 1px solid var(--color-red);
    }
  }
  .nav-link.active {
    color: var(--color-dark);
    border: 1px solid var(--color-red);
    background-color: transparent;
  }
}

.statsBox__table {
  margin-top: 24px;

  .table-responsive {
    @include media-breakpoint-down(lg) {
      overflow-x: auto;
    }
  }
  th {
    text-transform: uppercase;
    color: #828282;
    font-size: 12px;
    line-height: 100%;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid #cecece;
    padding-top: 0;
    padding-bottom: 7px;
  }
  td {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
    border-bottom: 1px solid #cecece;
    vertical-align: middle;
    padding-top: 13px;
    padding-bottom: 13px;
    white-space: nowrap;
  }
  td img {
    border-radius: 100%;
    border: 1px solid #cecece;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
  }
  .table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    min-width: max-content;
    margin: 0;
    a {
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}

.statsBox__players-row {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cecece;
  display: flex;
  gap: 24px;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
}
.statsBox__player {
  display: flex;
  gap: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cecece;
  a {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
    img {
      width: 16px;
      height: 16px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  &-img {
    border-radius: 6px;
    overflow: hidden;
  }
}
