<div class="hp-table">
  <div class="hp-table__top">
    <h3 class="h3 text-red mb-2">A</h3>
    <a href="#" class="link mb-2">Kompletní tabulka </a>
  </div>
  <div class="o-content">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>země</th>
          <th>z</th>
          <th>b</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td class="state">
            <img src="images/ico/1.svg" alt="" />
            Česká Republika
          </td>
          <td>3</td>
          <td>8</td>
        </tr>
        <tr>
          <td>2.</td>
          <td class="state">
            <img src="images/ico/3.svg" alt="" />
            Švédsko
          </td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>3.</td>
          <td class="state">
            <img src="images/ico/2.svg" alt="" />
            Kanada
          </td>
          <td>4</td>
          <td>7</td>
        </tr>
        <tr>
          <td>4.</td>
          <td class="state">
            <img src="images/ico/4.svg" alt="" />
            Slovensko
          </td>
          <td>5</td>
          <td>6</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
