<div class="hp-table">
  <div class="hp-table__top">
    <h3 class="h3 text-red mb-2">B</h3>
    <a href="#" class="link mb-2">Kompletní tabulka </a>
  </div>
  <div class="o-content">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>země</th>
          <th>z</th>
          <th>b</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>
            <a href="#" class="state fw-semibold">
              <img src="images/ico/1.svg" alt="" />
              Česká Republika
            </a>
          </td>
          <td>3</td>
          <td>8</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>
            <a href="#" class="state fw-semibold">
              <img src="images/ico/3.svg" alt="" />
              Švédsko
            </a>
          </td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>
            <a href="#" class="state fw-semibold">
              <img src="images/ico/2.svg" alt="" />
              Kanada
            </a>
          </td>
          <td>4</td>
          <td>7</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>
            <a href="#" class="state fw-semibold">
              <img src="images/ico/4.svg" alt="" />
              Slovensko
            </a>
          </td>
          <td>5</td>
          <td>6</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
