{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} 

{% include "@components/header/header-mob.twig" %}
<div class="container">
  <div class="wrapper">
    {% include "@components/header/header.twig" %}
    <main class="main" aria-label="Hlavní obsah">
     
    </main>
  </div>
</div>

{% endblock %}
