{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}
<div class="container">
  <div class="wrapper">
    {% include "@components/header/header.twig" %} {% include
    "@components/header/topHeader.twig" %}
    <main class="main" aria-label="Hlavní obsah">
      <div class="main__row">
        <div class="main__content">
          {% include "@components/topstory-section/topstory-section.twig" %}
        </div>
        {% include "@components/aside/aside.twig" %}
      </div>
    </main>
  </div>
</div>

{% endblock %}
