{% extends "@components/base/base.twig" %} {% set title = "04.0_partners" %} {%
block main %}

<div class="container">
  <div class="wrapper">
    {% include "@components/header/header.twig" %} {% include
    "@components/header/topHeader.twig" %}
    <main class="main" aria-label="Hlavní obsah">
      <div class="main__row full-content">
        <div class="main__content">
          {% include "@components/partners-section/partners-section.twig" %}
        </div>
        {% include "@components/aside/aside.twig" %}
      </div>
    </main>
    {% include "@components/footer/footer.twig" %}
  </div>
</div>

{% endblock %}
