{% extends "@components/base/base.twig" %} {% set title = "08.0_archive" %}
{% block main %}

<div class="container">
  <div class="wrapper">
    {% include "@components/header/header.twig" %}
    <div class="wrapper__content">
      {% include "@components/header/topHeader.twig" %}

      <main class="main" aria-label="Hlavní obsah">
        <div class="main__row full-width">
          {% include "@components/archive-section/archive-section.twig" %}
        </div>
      </main>
      {% include "@components/footer/footer.twig" %}
    </div>
  </div>
</div>
{% endblock %}
