{% extends "@components/base/base.twig" %} {% set title = "10.0_match-detail" %}
{% block main %}
<div class="container">
  <div class="wrapper">
    {% include "@components/header/header.twig" %}
    <div class="wrapper__content">
      {% include "@components/header/topHeader.twig" %}

      <main class="main" aria-label="Hlavní obsah">
        <div class="main__row">
          <div class="main__content">
            <section class="static-section">
              <div class="o-content">
                <h1>O Světovém poháru</h1>
                <h2>Title h2</h2>
                <h3>Title h3</h3>
                <h4>Title h4</h4>
                <h5>Title h5</h5>
                <h6>Title h6</h6>
                <div class="perex">
                  Útočník Marek Špaček se do Znojma vrací po třech sezónách,
                  které strávil v prvoligové Porubě. Jak se na novou výzvu těší?
                  Co očekává od druhé ligy?
                </div>
                <p>
                  Od 28. června do 1. července v roce 2018 se Česká republika na
                  celé čtyři dny stala centrem toho nejlepšího mládežnického
                  hokejbalu na světě. V Přerově a Zlíně se představily chlapecké
                  a dívčí reprezentace Česka, Slovenska, Kanady, USA, Velké
                  Británie, Polska a Švýcarska.
                </p>
                <p>
                  Za posledních devatenáct let se v České republice obdobná akce
                  konala pouze čtyřikrát. Světový pohár navíc přivítal nejen
                  hráče U16, ale vůbec poprvé v historii také výběry dívek v
                  kategorii U20. Právě domácí výběr české reprezentace
                  premiérový Světový pohár ovládl a těšil se ze zlatých medailí.
                </p>

                <p>
                  V letošním roce se uskuteční historický druhý Světový pohár v
                  České Třebové a Litomyšli, na který se opět těší chlapecké
                  národní výběry kategorie U16 a premiéra tentokrát čeká na
                  další dívčí kategorii U18. Vrcholná světová akce naplno
                  vypukne 27. června a o tři dny později 30. června budeme znát
                  světové šampiony chlapců do 16 let a dívek do 18 let.
                </p>
                <p>
                  Důstojné zázemí zimního stadionu v České Třebové a Litomyšli
                  slibují špičkovou hokejbalovou akci plnou atraktivních duelů.
                  Světový pohár se uskuteční jak pod záštitou obou
                  pořadatelských měst, tak Pardubického kraje.
                </p>
                <p>
                  <img src="images/content/post.jpeg" alt="" />
                </p>
                <p>
                  Součástí Světového poháru je samozřejmě bohatý doprovodný
                  program pro fanoušky a malé hokejbalové ratolesti stejně jako
                  plánovaná přátelská utkání reprezentací Česka a Slovenska v
                  kategorii U14.
                </p>
                <p>
                  Rozdělení týmů do skupin pro Světový pohár 2019 připravujeme.
                  Celkový seznam účastníků z různých koutů planety představíme
                  po uzávěrce přihlášek.
                </p>
                <ul>
                  <li>
                    <strong> Komuikace s týmy: </strong>
                    Hynka Blaško +420 732 101 182 a Olga Faltysová
                  </li>
                  <li>
                    <strong> Komuikace s týmy: </strong>
                    Hynka Blaško +420 732 101 182 a Olga Faltysová
                  </li>
                  <li>
                    <p>
                      <strong> Koordinátor škol a organizátor: </strong>
                      Jan Verner
                      <a href="mailto:vernys@hokejbal.cz"
                        >(vernys@hokejbal.cz)</a
                      >,
                      <a
                        href="tel:+420
                  732453786"
                        >+420 732 453 786</a
                      >
                    </p>
                  </li>
                  <li>
                    <a href="#">
                      Hynka Blaško +420 732 101 182 a Olga Faltysová</a
                    >
                  </li>
                </ul>
                <ol>
                  <li>
                    <strong> Komuikace s týmy: </strong>
                    Hynka Blaško +420 732 101 182 a Olga Faltysová
                  </li>
                  <li>
                    <strong> Komuikace s týmy: </strong>
                    Hynka Blaško +420 732 101 182 a Olga Faltysová
                  </li>
                  <li>
                    <p>
                      <strong> Koordinátor škol a organizátor: </strong>
                      Jan Verner
                      <a href="mailto:vernys@hokejbal.cz"
                        >(vernys@hokejbal.cz)</a
                      >,
                      <a
                        href="tel:+420
                  732453786"
                        >+420 732 453 786</a
                      >
                    </p>
                  </li>
                  <li>
                    <a href="#">
                      Hynka Blaško +420 732 101 182 a Olga Faltysová</a
                    >
                  </li>
                </ol>
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/P986s-Dzl8A"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
                <p>
                  Součástí Světového poháru je samozřejmě bohatý doprovodný
                  program pro fanoušky a malé hokejbalové ratolesti stejně jako
                  plánovaná přátelská utkání reprezentací Česka a Slovenska v
                  kategorii U14.
                </p>
                <p>
                  Rozdělení týmů do skupin pro Světový pohár 2019 připravujeme.
                  Celkový seznam účastníků z různých koutů planety představíme
                  po uzávěrce přihlášek.
                </p>
                <table>
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Title</th>
                      <th>Title</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                      <td>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
          {% include "@components/aside/aside.twig" %}
        </div>
      </main>

      {% include "@components/footer/footer.twig" %}
    </div>
  </div>
</div>
{% endblock %}
