{% extends "@components/base/base.twig" %} {% set title =
"14.0_tournaments-school" %} {% block main %}

<div class="container">
  <div class="wrapper">
    {% include "@components/header/header.twig" %}
    <div class="wrapper__content">
      {% include "@components/header/topHeader.twig" %}

      <main class="main" aria-label="Hlavní obsah">
        <div class="main__row">
          <div class="main__content">
            <section class="static-section">
              <div class="o-content">
                <h1>Školní turnaje na Mistrovství světa v hokejbale</h1>
                <p>
                  V rámci Mistrovství světa v hokejbale, které se uskuteční ve
                  dnech 20.6. - 28.6. ve vítkovické Ostravar Aréně, nabízí
                  pořadatelé možnost účastnit se hokejbalových turnajů určených
                  pro základní a střední školy.
                </p>
                <h2>Ostravský pohár</h2>
                <p>
                  Turnaj v hokejbalu 3+1 na šířku hřiště, který je určen pro
                  žáky základních škol od 7. do 9. třídy (ekvivalentně pro žáky
                  víceletých gymnázií odpovídajících ročníků).
                </p>
                <h3>Kvalifikační turnaje</h3>
                <p>
                  <strong>Středa 20.5.2026<br /></strong>Ostrava - hřiště TJ
                  Sokol Poruba, Vřesinská 121/97, 708 00 Ostrava<br />Opava -
                  hřiště SHC Opava, U Hřiště 343, 747 06 Opava-Kylešovice<br />Třinec
                  - hřiště v areálu ZŠ a MŠ Jubilejní Masarykovy školy, U Splavu
                  550, 739 61 Třinec<br />Havířov - hřiště ZŠ Marie Pujmanové
                  17/1151, 736 01 Havířov-Šumbark
                </p>
                <p>
                  <strong>Čtvrtek 11.6.2026<br /></strong>Karviná - sportovní
                  areál SPŠ Karviná, Žižkova 1818, 733 01 Karviná
                </p>
                <ul>
                  <li>Každý tým obdrží pamětní pohár</li>
                  <li>
                    Vítězné týmy (v rámci ostravského turnaje 2 nejlepší)
                    postupují na finálový turnaj, který se uskuteční v rámci
                    fanzóny mistrovství světa v úterý dne 23.6.2026
                  </li>
                  <li>
                    Všechny kvalifikované týmy obdrží na tento den celodenní
                    lístek na zápasy (včetně učitelského doprovodu), poháry a
                    pamětní medaile
                  </li>
                  <li>
                    Vítězná škola bude dekorována na ploše před začátkem TV
                    utkání Česká republika - Slovensko, kapitán vítězného týmu
                    vhodí čestné buly před začátkem zápasu.
                  </li>
                  <li>
                    Vítězný tým dostane pro sledování odpoledních utkání k
                    dispozici Sky Box s občerstvením
                  </li>
                </ul>
                <h2>Moravskoslezský pohár</h2>
                <p>
                  Turnaj v hokejbalu 3+1 na šířku hřiště, který je určen pro
                  studenty 1.-4. ročníku středních škol (ekvivalentně pro žáky
                  gymnázií odpovídajících ročníků)
                </p>
                <h3>Kvalifikační turnaje</h3>
                <p>
                  <strong>Čtvrtek 21.5.2026<br /></strong>Ostrava - hřiště TJ
                  Sokol Poruba, Vřesinská 121/97, 708 00 Ostrava<br />Opava -
                  hřiště SHC Opava, U Hřiště 343, 747 06 Opava-Kylešovice<br />Třinec
                  - hřiště v areálu ZŠ a MŠ Jubilejní Masarykovy školy, U Splavu
                  550, 739 61 Třinec<br />Havířov - hřiště ZŠ Marie Pujmanové
                  17/1151, 736 01 Havířov-Šumbark
                </p>
                <p>
                  <strong>Čtvrtek 11.6.2026<br /></strong>Karviná - sportovní
                  areál SPŠ Karviná, Žižkova 1818, 733 01 Karviná
                </p>
                <ul>
                  <li>Každý tým obdrží pamětní pohár.</li>
                  <li>
                    Vítězné týmy (v rámci ostravského turnaje 2 nejlepší)
                    postupují na finálový turnaj, který se uskuteční v rámci
                    fanzóny mistrovství světa v pondělí dne 22.6.2026
                  </li>
                  <li>
                    Všechny kvalifikované týmy obdrží na tento den celodenní
                    lístek na zápasy (včetně učitelského doprovodu), poháry a
                    pamětní medaile
                  </li>
                  <li>
                    Vítězná škola bude dekorována na ploše před začátkem TV
                    utkání Švýcarsko - Česká republika, kapitán vítězného týmu
                    vhodí čestné buly před začátkem zápasu.
                  </li>
                  <li>
                    Vítězný tým dostane pro sledování odpoledních utkání k
                    dispozici Sky Box s občerstvením.
                  </li>
                </ul>
                <p>
                  <strong
                    >Přihlašování pro oba turnaje končí 6.5.2026, následně do
                    11.5. školy obdrží rozpis utkání a další informace.<br /></strong
                  >Maximální počet žáků pro jeden tým je 9+1 (součástí týmu
                  alespoň jedna dívka).<br />Výstroj pro brankáře případně
                  hokejky a rukavice budou k zapůjčení na místě.
                </p>
                <p>
                  V případě otázek nás prosím kontaktujte na e-mailové adrese
                  skoly@ostrava2026.cz
                </p>
                <h2 class="mb-3">Přihlašovací formulář</h2>
                <form class="schoolForm" action="#" method="post">
                  <div class="mb-3">
                    <label for="school-name">Název školy</label>
                    <input
                      type="text"
                      id="school-name"
                      name="school_name"
                      placeholder="Zadejte název školy"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="school-address">Adresa školy</label>
                    <input
                      type="text"
                      id="school-address"
                      name="school_address"
                      placeholder="Zadejte adresu školy"
                      required
                    />
                  </div>

                  <div class="mb-3 mt-4 fw-semibold h6">Kontaktní osoba</div>

                  <div class="mb-3">
                    <label for="contact-name">Jméno a příjmení</label>
                    <input
                      type="text"
                      id="contact-name"
                      name="contact_name"
                      placeholder="Zadejte jméno a příjmení"
                      required
                    />
                  </div>
                  <div class="row g-3 mb-3">
                    <div class="col-sm-6">
                      <label for="contact-phone">Telefon</label>
                      <input
                        type="tel"
                        id="contact-phone"
                        name="contact_phone"
                        placeholder="Zadejte telefon"
                        required
                      />
                    </div>
                    <div class="col-sm-6">
                      <label for="contact-email">E-mail</label>
                      <input
                        type="email"
                        id="contact-email"
                        name="contact_email"
                        placeholder="Zadejte e-mail"
                        required
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="tournament">Vybraný turnaj</label>
                    <select
                      class="js-select w-100"
                      id="tournament"
                      name="tournament"
                      required
                    >
                      <option value="">Vyberte turnaj</option>
                      <option value="moravskoslezsky-pohar">
                        Moravskoslezský pohár
                      </option>
                      <option value="ostravsky-pohar">Ostravský pohár</option>
                    </select>
                  </div>

                  <button class="schoolForm-btn mt-4" type="submit">
                    Odeslat
                  </button>
                </form>
                <p>
                  <img
                    src="https://ostrava2026.esports.cz/files/editor/Ostravar-Are&#769;na-1110-×-550-.png"
                    alt=""
                    style="display: block; margin: auto"
                  />
                </p>
                <h1></h1>
                <p><br /></p>
              </div>
            </section>
          </div>
        </div>
      </main>
      {% include "@components/sliderPartners/sliderPartners.twig" %} {% include
      "@components/footer/footer.twig" %}
    </div>
  </div>
</div>
{% endblock %}
