<section class="topstory-section mb-6">
  <a href="#" class="topstory-item">
    <div class="topstory-item__img">
      <img src="images/content/post.jpeg" alt="" />
    </div>
    <div class="topstory-item__info">
      <div class="topstory-item__info-top">
        <div class="tag">info z turnaje</div>
        <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
      </div>
      <h1 class="h1">
        Vstupenky budou v prodeji od 10. února a očekává se velký zájem diváků
      </h1>
    </div>
  </a>
</section>
