<section class="topstory-section">
  <div class="topstory-item">
    <div class="topstory-item__img">
      <img src="images/content/post.jpeg" alt="" />
    </div>
    <div class="topstory-item__info">
      <div class="topstory-item__info-top">
        <div class="tag">info z turnaje</div>
        <p class="p3">24.1.2023 - Tomáš Vavroušek</p>
      </div>
      <h1 class="h1">
        Velký rozhovor s Martinem Komárkem: O povedené organizaci i pozitivech
        pro český hokejbal
      </h1>
    </div>
  </div>
</section>
