<section class="sliderPartners">
  <h5 class="h2 mb-4">Partneři</h5>
  <ul class="sliderPartners__inner sliderMedia">
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-3.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-4.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-5.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-2.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-1.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-3.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-4.png" class="w-100" alt=""
      /></a>
    </li>
    <li>
      <a class="sliderPartners__item" href="#" target="_blank">
        <img src="images/content/partner-6.png" class="w-100" alt=""
      /></a>
    </li>
  </ul>
</section>
